*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Josefin Sans';
    background:rgb(24, 24, 30) ;

}

#skipButton {

    right: 1%;
    bottom: 1%;

    width: 100px;
    height: auto;

    position: absolute;

    border-radius: 16px;
    border-color: transparent;

    background: rgb(40, 40, 48);
    color: rgb(90, 90, 108);
    text-align: center;
    padding: 5px;

    z-index: 10;
    visibility: visible;
}

#video {
    width: 100%;
    height: auto;
    visibility: visible;
    z-index: 5;
}

.video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.video-container video {
    min-width: 100%;
    min-height: 100%;

    width: auto;
    height: auto;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.webgl {
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    z-index: 1;
    visibility: hidden;
}

.fadeIn {
    -webkit-animation: animate_show 3s;
    animation: animate_show 3s;
    visibility: visible !important;
}

@-webkit-keyframes animate_show{
    0%{opacity:0}
    100%{opacity:1}
}

.fadeOut {
    -webkit-animation: animate_hide 3s;
    animation: animate_hide 3s;
    visibility: hidden !important;
}

@-webkit-keyframes animate_hide{
    0%{opacity:1}
    100%{opacity:0}
}

#tooltip {
    width: 140px;
    height: auto;

    position: absolute;

    border-radius: 16px;
    border-color: transparent;

    background: rgb(50, 50, 60);
    color: white;
    text-align: center;
    padding: 5px;

    visibility: hidden;

    z-index: 10;
}
