*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Helvetica';
    background:rgb(24, 24, 30) ;
    position: relative;
}

body{
    overflow-x: hidden;
}

#titleContainer {
    top: 0;
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
}
h1 {
    font-size: 8rem;
    color: white;
}

.webgl {
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    mix-blend-mode: exclusion;
}

.parent {
    width: 100%;
    /* height: 5000px; */
    /* overflow: scroll; */
    position: relative;
    display:flex;
}

#textBar {
    border: medium solid red;
    width: 48%;
    /* overflow: scroll; */
    /* height: 1000px; */

    background: rgb(24, 24, 30);

    float: left;
    /* flex:1; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* position: relative; */
}

.containerText {
    clear: both;
    /* float: top; */
    padding: 3% 3% 0% 3%;

    width: 94%;
    display: inline-block;
    /* margin-top: 75px; */
}

.speaker1{
    /* position: relative; */
    border: medium solid green;

    /* font-size: 150%; */
    /* white-space: nowrap; */
    overflow: hidden;
    visibility: hidden;
    color: #ffffff;
    white-space: wrap;
}

.speaker2{
    /* position: relative; */
    border: medium solid blue;
    margin-left: auto;
    margin-right: 0%;

    /* font-size: 150%; */
    /* white-space: nowrap; */
    overflow: hidden;
    visibility: hidden;
    color: #ffffff;
    /* float: right; */
    /* display: inline-block; */
    text-align: right;
    white-space: wrap;

}

#pictureBar {
    border: medium solid yellow;
    width: 50%;
    height: 100%;

    background: rgb(24, 24, 30);

    float: left;
    /* position: relative; */

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    flex:1;
}

.images {
    width: 100%;
    height: 100%;
    object-fit: cover;
    visibility: hidden;

    /* float: top; */
}

/* ************** */
/* Text animation */
/* ************** */

.animation{
    visibility: visible;
    animation: typewriter 4s steps(44) 1s 1 normal both
}

@keyframes typewriter{
    from{width: 0;}
    to{width: 100%;}
}

/* ***************** */
/* Picture animation */
/* ***************** */

.fadeIn {
    -webkit-animation: animat_show 0.8s;
    animation: animat_show 0.8s;
    visibility: visible !important;
}

@-webkit-keyframes animat_show{
    0%{opacity:0}
    100%{opacity:1}
}
.fadeVideo {
    animation: change_darkness 5s;
    visibility: visible !important;
}
@-webkit-keyframes change_darkness{
    0%{opacity: 0}
    100%{opacity: 1}
}


#simulation {
    clear:both;
    /* margin-top: 3%; */
    width: 100%;
    height: 100%;
    position: relative;
}

#sim {
    width: 100%;
    height: auto;
}
/* #simulation video {

    width: auto;
    height: auto;

    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%,-50%); */
/* } */

#home_container {

    position: relative;
    bottom: 3rem;
    margin-left: calc(50% - 20px);

    height: 25px;
    width: 35px;

    padding-top: 9px;
    text-align: center;

    border-radius: 20px;
    border-color: transparent;

    background-color: rgb(45, 45, 53);
    box-shadow: 0px 0px 20px rgb(161, 0, 27);
}

