*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Josefin Sans';
    background:rgb(24, 24, 30) ;
}

body{
    overflow-x: hidden;
}

.webgl {
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    mix-blend-mode: exclusion;
}

#titleContainer {
    top: 0;
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
}
h1 {
    font-size: 8rem;
    color: white;
}

#parent {
    width: 100%;
    height: 15000px;
    position: relative;
}

#textBar {
    width: 48%;
    height: 100%;

    background: rgb(24, 24, 30);

    left: 1%;
    position: absolute;
}

.containerText {
    float: top;
    width: 100%;
    display: inline-block;
    margin-top: 75px;
}

.speaker1{
    position: relative;
    font-size: 150%;
    white-space: nowrap;
    overflow: hidden;
    visibility: hidden;
    color: #ffffff;
}

.speaker2{
    position: relative;
    font-size: 150%;
    white-space: nowrap;
    overflow: hidden;
    visibility: hidden;
    color: #ffffff;
    float: right;
    display: inline-block;
    text-align: right;

}

.animation{
    visibility: visible;
    animation: typewriter 4s steps(44) 1s 1 normal both
}
@keyframes typewriter{
    from{width: 0;}
    to{width: 100%;}
}

#pictureBar {
    width: 50%;
    height: 100%;

    background: rgb(24, 24, 30);

    right: 0;
    position: absolute;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.images {
    width: 100%;
    height: 100%;
    object-fit: cover;
    visibility: hidden;

    float: top;
}

#simulation {
    margin-top: 10%;

    position: relative;

    height: 100%;
    width: 100%;

    background: rgb(50, 50, 50);
}

.fadeIn {
    -webkit-animation: animat_show 0.8s;
    animation: animat_show 0.8s;
    visibility: visible !important;
}

@-webkit-keyframes animat_show{
    0%{opacity:0}
    100%{opacity:1}
}
