*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Josefin Sans';
    background:rgb(24, 24, 30) ;
}

body{
    overflow-x: hidden;
}

.webgl {
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    mix-blend-mode: exclusion;
}

#titleContainer {
    top: 0;
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}
h1 {
    font-size: 8rem;
    color: white;
}

#go_home {
    margin-top:  100px;
    margin-bottom: 100px;

    height: 30px;
    width: 40px;

    display: block;
    justify-content: center;

    text-align: center;

    border-radius: 20px;
    border-color: transparent;

    background-color: rgb(30, 30, 40);
    box-shadow: 0px 0px 20px rgb(161, 0, 27);
}