*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Josefin Sans';
    background:rgb(24, 24, 30) ;
}

body{
    overflow-x: hidden;
}

.webgl {
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    mix-blend-mode: exclusion;
}

#titleContainer {
    top: 0;
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
}
h1 {
    font-size: 8rem;
    color: white;
}

#parent {
    width: 100%;
    height: 12000px;
    position: relative;
}

#textBar {
    width: 48%;
    height: 100%;

    background: rgb(24, 24, 30);

    left: 1%;
    position: absolute;
}

.container {
    width: 100%;

    padding-bottom: 25px;
    padding-top: 25px;

    display: block;
}

.speaker1{
    position: relative;
    font-size: 170%;
    white-space: nowrap;
    overflow: hidden;
    visibility: hidden;
    color: #ffffff;
}

.speaker2{
    position: relative;
    font-size: 170%;
    white-space: nowrap;
    overflow: hidden;
    visibility: hidden;
    color: #ffffff;
    float: right;
    display: inline-block;
    text-align: right;

}

.animation{
    visibility: visible;
    animation: typewriter 4s steps(44) 1s 1 normal both
}
@keyframes typewriter{
    from{width: 0;}
    to{width: 100%;}
}

#pictureBar {
    width: 50%;
    height: 100%;

    background: rgb(24, 24, 30);

    right: 0;
    position: absolute;

    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 1rem;
}

.images {
    width: 100%;
    height: 100%;
    /*object-fit: cover;*/
    visibility: hidden;

    float: top;
}

#simulation {
    margin-top: 10%;

    position: relative;

    height: 100%;
    width: 100%;

    background: rgb(50, 50, 50);
}

.fadeIn {
    -webkit-animation: animat_show 0.8s;
    animation: animat_show 0.8s;
    visibility: visible !important;
}

@-webkit-keyframes animat_show{
    0%{opacity:0}
    100%{opacity:1}
}

.bottomSection {

    margin-top: 10%;
    height: 100%;
    width: 100%;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.musicContainer {
    background-color: rgb(24, 24, 30);

    display: flex;
    padding: 20px 30px;
    position: relative;
    z-index: 10;
}

.musicContainer.play .img-container img {
    animation-play-state: running;
}

.action-btn {
    height: 50px;
    width:80px;
    margin: 10px;
    border-radius: 25px;
    border-color: transparent;

    background-color: rgb(30, 30, 40);
    box-shadow: 0px 0px 20px rgb(161, 0, 27);
}

.progress-container {
    background: black;
    box-shadow: 0px 0px 20px 2px rgb(161, 0, 27);
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 20%;
}

.progress {
    background-color: rgb(45, 45, 60);

    border-radius: 5px;
    height: 100%;
    width: 0%;
}

#home_container {
    margin-top:  100px;

    height: 30px;
    width: 40px;

    padding-top: 9px;
    text-align: center;

    border-radius: 20px;
    border-color: transparent;

    background-color: rgb(30, 30, 40);
    box-shadow: 0px 0px 20px rgb(161, 0, 27);
}

